{% extends "index.html" %}

{% block content %}
<div class="container">
    <form class="form">
        <p class="title">Iniciar Sesión</p>
        <span class="input-span">
            <label for="user" class="label">Usuario</label>
            <input type="text" name="user" id="user"/>
        </span>
        <span class="input-span">
            <label for="password" class="label">Contraseña</label>
            <input type="password" name="password" id="password"/>
        </span>
        <span class="span">
        </span>
        <input class="submit" type="submit" value="Iniciar Sesión" />
        <span class="span">¿No tienes una cuenta? <a href="{{  url_for('registrarse')  }}"> Registrarse</a></span>
    </form>
</div>


{% endblock %}
