{% extends "index.html" %}

{% block content %}
<div class="container">
    <form class="form">
        <span class="input-span">
            <label for="email" class="label">Usuario</label>
            <input type="email" name="email" id="email"/>
        </span>
        <span class="input-span">
            <label for="password" class="label">Contraseña</label>
            <input type="password" name="password" id="password"/>
        </span>
        <span class="span">
        </span>
        <input class="submit" type="submit" value="Iniciar Sesión" />
        <span class="span">¿No tienes una cuenta? <a href="#"> Registrarse</a></span>
    </form>
</div>


{% endblock %}
