<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Usuario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/registrarse.css') }}">
</head>
<body>
    <div class="container">
        <form class="form">
            <p class="title">Registrarse </p>

                <div class="flex">
                <label>
                    <input required="" placeholder="Nombre" type="text" class="input">
                </label>

                <label>
                    <input required="" placeholder="Apellidos" type="text" class="input">
                </label>
            </div>

            <label>
                <input required="" placeholder="Contraseña" type="password" class="input">
            </label>
            <label>
                <input required="" placeholder="Confirmar contraseña" type="password" class="input">
            </label>
            <button class="submit">Registrarse</button>
            <p class="signin">¿Ya tienes una cuenta? <a href="/">Iniciar Sesión</a> </p>
        </form>
    </div>
</body>
</html>
